@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.notofont {
  font-family: 'Noto Sans JP', sans-serif !important;
  opacity: 1 !important;
}

.white {
  color: #FFFFFF;
}

.trainer-detail .inner-box {
    border-bottom: 0px solid rgba(255,255,255,0.10) !important;
}

.size12 {
  font-size: 1.2rem;
}

.auto-container {
    max-width: 1300px;
}
